{% extends 'BaseAccueil.html.twig'%}
{% block body %}
  <div class="section section-features">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="card card-school" >
            <div class="icon">
              <i class="fas fa-user-graduate"></i>
            </div>
            <div class="text">
              <h4>Je suis étudiant</h4>
              <p>Vous êtes étudiant et vous souhaitez obtenir de l'aide dans vos révisions, accéder à des cours, quizz ou vidéos depuis chez vous ?</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card card-school">
            <div class="icon">
              <i class="pe-7s-note2"></i>
            </div>
            <div class="text">
            <h4>Je suis parents</h4>
            </div>
            <p>Vous êtes parent d'un étudiant inscrit sur notre platforme et vous souhaitez pouvoir suivre la progression de votre enfant ?</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card card-school">
            <div class="icon">
              <i class="pe-7s-cloud-upload"></i>
            </div>
            <div class="text">
              <h4>Je suis enseignant</h4>
            </div>
            <p>Vous êtes enseignant et vous souhaitez aider des élèves à réussir ou vous souhaitez partager vos connaissances ?</p>
          </div>
        </div>
      </div>
    </div>
  </div>


{% endblock body %}