{% extends 'BaseInscriptionConnexion.html.twig' %}

{% block title %}Inscription Enseignant{% endblock %}

{% block body %}
    <h2>Veuillez remplir ce formulaire d'inscription :</h2>

    {{ include('enseignant/_form.html.twig') }}
{% endblock %}