{% extends 'BaseInscriptionConnexion2.html.twig' %}

{% block title %}Inscription Parent{% endblock %}

{% block body %}
    <h2>Veuillez remplir ce formulaire d'inscription :</h2>
    <h5>Vous pourrez inscrire votre ou vos enfants, plus tard, depuis votre compte</h5>

    {{ include('parents/_form.html.twig') }}
{% endblock %}
