{% extends 'BaseInscriptionConnexion2.html.twig' %}

{% block title %}Inscription Etudiant{% endblock %}

{% block body %}
    <h2>Veuillez remplir ce formulaire d'inscription :</h2>

    {{ include('etudiant/_form.html.twig') }}
{% endblock %}
